<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h4 class="card-title text-center mb-0"> Nueva Publicaci贸n</h4>
        </div>
        <div class="card-body">
          <%= form_with model: @publicacion, url: publicaciones_path, html: { class: "form" } do |form| %>
            <% @publicacion.errors.full_messages.each do |error| %>
              <div class="alert alert-danger" role="alert">
                <%= error %>
              </div>
            <% end %>
            
            <div class="form-group">
              <%= form.label :titulo, "T铆tulo", class: "font-weight-bold" %>
              <%= form.text_field :titulo, class: "form-control", placeholder: "Ingrese el t铆tulo de la publicaci贸n" %>
            </div>

            <div class="form-group">
              <%= form.label :descripcion, "Descripci贸n", class: "font-weight-bold" %>
              <%= form.text_area :descripcion, class: "form-control", placeholder: "Ingrese la descripci贸n de la publicaci贸n" %>
            </div>

            <div class="form-group">
              <%= form.label :category_id, "Categor铆a", class: "font-weight-bold" %>
              <%= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name, { prompt: "Selecciona una categor铆a" }, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :imagen, "Adjuntar imagen", class: "font-weight-bold" %>
              <div class="custom-file">
                <%= form.file_field :imagen, class: "custom-file-input", id: "imagen-input", onchange: "previewFile('imagen'); disableFileInput('video')" %>
                <label class="custom-file-label" for="imagen-input">Seleccionar imagen...</label>
              </div>
              <img src="#" alt="Vista previa de imagen" id="imagen-preview" style="display: none; max-width: 100%; height: auto; margin-top: 10px;">
            </div>

            <div class="form-group">
              <%= form.label :video, "Adjuntar video", class: "font-weight-bold" %>
              <div class="custom-file">
                <%= form.file_field :video, class: "custom-file-input", id: "video-input", onchange: "previewFile('video'); disableFileInput('imagen')" %>
                <label class="custom-file-label" for="video-input">Seleccionar video...</label>
              </div>
              <video src="#" alt="Vista previa de video" id="video-preview" style="display: none; max-width: 100%;" controls></video>
            </div>
            
            <div class="form-check">
              <%= form.check_box :mostrar_nombre, class: "form-check-input" %>
              <%= form.label :mostrar_nombre, "No Mostrar Nombre", class: "form-check-label font-weight-bold" %>
            </div>

            <% if (Current.user && Current.user.admin?) %>
              <div class="form-check">
                <%= form.check_box :fijada, class: "form-check-input" %>
                <%= form.label :fijada, "Fijar publicaci贸n en facultad", class: "form-check-label font-weight-bold" %>
              </div>

              <div class="form-check">
                <%= form.check_box :fijadaindex, class: "form-check-input" %>
                <%= form.label :fijadaindex, "Fijar publicaci贸n en index", class: "form-check-label font-weight-bold" %>
              </div>
            <% end %>

            <div class="form-group mb-0">
              <%= form.submit "Publicar", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function previewFile(type) {
    const fileInput = document.querySelector(`#${type}-input`);
    const preview = document.querySelector(`#${type}-preview`);
    const customFileLabel = document.querySelector(`label[for="${type}-input"]`);

    const file = fileInput.files[0];
    const reader = new FileReader();

    reader.addEventListener("load", function () {
      preview.src = reader.result;
      preview.style.display = "block";
    }, false);

    if (file) {
      reader.readAsDataURL(file);
      customFileLabel.textContent = file.name; // Mostrar el nombre del archivo seleccionado en el label personalizado
    }
  }

  function disableFileInput(type) {
    const fileInput = document.querySelector(`#${type}-input`);
    fileInput.value = ''; // Limpiar la selecci贸n actual del archivo
    fileInput.disabled = true;
    const customFileLabel = document.querySelector(`label[for="${type}-input"]`);
    customFileLabel.textContent = 'Ya ha seleccionado otro tipo de archivo';
  }
</script>
